* 
{
padding: 0;
margin: 0;
}
.sketchpad1
{
    height: 500px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(16,1fr);    
    grid-template-rows: repeat(16,1fr);    
    gap: 1px;
}
.sketchpad2
{
    height: 500px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(32,1fr);    
    grid-template-rows: repeat(32,1fr);    
    gap: 1px;
}
.sketchpad3
{
    height: 500px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(64,1fr);    
    grid-template-rows: repeat(64,1fr);    
    gap: 1px;
}

.flexboxContainer 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}
.middle
{
    display: flex;
    gap: 50px;
    margin-left: 150px;
}
.controls 
{
    margin-top: 100px; 
    display: flex;
     /* justify-content: center; */
     align-items: center;
     flex-direction: column;
}
.title
{
     display: flex;
     align-items: center;
     justify-content: center;
}